<script type="text/javascript">
  $(document).ready(function(){
    $('#model-design-view').hide();
    $('#hideshow').on('click', function(event) {        
      $('#model-design-view').toggle('show');
    });
  });
</script>

<%= render 'countdown' %>
<%= form_for :design, url: designs_path, html: {class: "form ", multipart: true } do |f| %>

  <% if @design.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@design.errors.count, "error") %> prohibited
        this design from being saved:
      </h2>
      <ul>
        <% @design.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Section tittle -->
  <div class="blog">
      <div class="blog__wrapper">
          <div class="blog__intro">
              <div class="blog__heading">Total look</div>
          </div>
          <p id="fontSize" >Upload your total look sketch below</p>
      </div>
  </div>
  <!-- End Section tittle -->

  <!-- Form additional information start -->
  <div class="wrapper" id="formAdd">
    <div class="input-wb">
      <%= f.label :image, 'Upload "Total look" File' %>
      <%= f.file_field :image, class: "form__input" %>
    </div>
    <div class="input-w">
      <%= f.label :image_desc, "Explain us your design concept. What did you get inspired by?" %>
      <%= f.text_area :image_desc, class: "form__input", rows: "8", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design." %>
    </div>
  </div>
  <!-- End Form additional information start -->


  <!-- Section tittle -->
    <div class="blog">
        <div class="blog__wrapper">
            <div class="blog__intro">
                <div class="blog__heading">flat pattern drawing garment 1</div>
            </div>
            <p id="fontSize" >Upload your flat pattern drawing garment 1 below</p>
        </div>
    </div>
  <!-- End Section tittle -->

  <!-- Form additional information start -->
  <div class="wrapper" id="formAdd">
    <div class="input-wb">
      <%= f.label :first_garment_design, '"Garment 1" File' %>
      <%= f.file_field :first_garment_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :first_garment_print_design, '"Print design" File' %>
      <%= f.file_field :first_garment_print_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :first_garment_technical_design, 'Optional "Technical Sheet" File' %>
      <%= f.file_field :first_garment_technical_design, class: "form__input" %>
    </div>

    <div class="input-w">
      <%= f.label :first_garment_desc, "Description of the garment with its technical explanation and  materials description." %>
      <%= f.text_area :first_garment_desc, class: "form__input", rows: "8", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design." %>           
    </div>
  </div>
  <!-- End Form additional information start -->

  <!-- Section tittle -->
    <div class="blog">
        <div class="blog__wrapper">
            <div class="blog__intro">
                <div class="blog__heading">flat pattern drawing garment 2</div>
            </div>
            <p id="fontSize" >Upload your flat pattern drawing garment 2 below</p>
        </div>
    </div>
  <!-- End Section tittle -->

  <!-- Form additional information start -->
  <div class="wrapper" id="formAdd">
    <div class="input-wb">
      <%= f.label :second_garment_design, '"Garment 2" File' %>
      <%= f.file_field :second_garment_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :second_garment_print_design, '"Print design 2" File' %>
      <%= f.file_field :second_garment_print_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :second_garment_technical_design, 'Optional "Technical Sheet" File' %>
      <%= f.file_field :second_garment_technical_design, class: "form__input" %>
    </div>

    <div class="input-w">
      <%= f.label :second_garment_desc, "Description of the garment with its technical explanation and  materials description." %>
      <%= f.text_area :second_garment_desc, class: "form__input", rows: "8", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design." %>            
    </div>
  </div>
  <!-- End Form additional information start -->

  <!-- Section tittle -->
   <div class="blog">
       <div class="blog__wrapper">
           <div class="blog__intro">
               <div class="blog__heading">flat pattern drawing garment 3</div>
           </div>
           <p id="fontSize" >Upload your flat pattern drawing garment 3 below</p>
       </div>
   </div>
  <!-- End Section tittle -->

  <!-- Form additional information start -->
  <div class="wrapper" id="formAdd">
    <div class="input-wb">
      <%= f.label :third_garment_design, '"Garment 3" File' %>
      <%= f.file_field :third_garment_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :third_garment_print_design, '"Print design 3" File' %>
      <%= f.file_field :third_garment_print_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :third_garment_technical_design, 'Optional "Technical Sheet" File' %>
      <%= f.file_field :third_garment_technical_design, class: "form__input" %>
    </div>

    <div class="input-w">
      <%= f.label :third_garment_desc, "Description of the garment with its technical explanation and  materials description." %>
      <%= f.text_area :third_garment_desc, class: "form__input", rows: "8", placeholder: "E.g The theme was set around winter that's why I used gray and blue colors. I tried to use garments that are warm and used leaves for the print design." %>           
    </div>
  </div>

  <!-- Button to toggle model-design upload view-->
  <div class="wrapper">
    <input type='button' id='hideshow' value='Add Model Design' class="button button_blue">
  </div>
  <!-- End of Button to toggle model-design upload view -->

  <!-- Model design upload view -->
  <div id='model-design-view'>
    <!-- Section tittle -->
    <div class="blog">
        <div class="blog__wrapper">
            <div class="blog__intro">
                <div class="blog__heading">Model Design look</div>
            </div>
            <p id="fontSize" >Upload your model design pictures below</p>
        </div>
    </div>
    <!-- End Section tittle -->

    <div class="input-wb">
      <%= f.label :first_garment_model_design, 'First Garment Model Picture' %>
      <%= f.file_field :first_garment_model_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :second_garment_model_design, 'Second Garment Model Picture' %>
      <%= f.file_field :second_garment_model_design, class: "form__input" %>
    </div>

    <div class="input-wb">
      <%= f.label :third_garment_model_design, 'Third Garment Model Picture' %>
      <%= f.file_field :third_garment_model_design, class: "form__input" %>
    </div>
  </div><br>
  <!-- End of Model design upload view -->  
  
  <!-- Button -->
  <div class="wrapper">
    <%= f.submit "Save & Continue", class: "button button_blue"%>
  </div>

  <!-- End Form additional information start -->
<% end %>

<br>
<%= link_to 'Back', designs_path, class: "button button_blue" %>