<div class="participant">
    <div class="participant__wrapper">
        <div class="participant__photo-wrapper"><div class="participant__photo" style="background-image: url(<%= asset_path @design.image_url.to_s %>)" ></div></div>
        <div class="participant__info">
            <div class="participant__desc-title">Description</div>
            <p class="participant__desc"><%= @design.image_desc%></p>
            <div class="participant__actions">

                <div class="participant__action">
                    <svg width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Page 1</title>
                        <defs>
                            <path id="like-path" d="M21.97 0H0v19.957h21.97V0z" />
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <path d="M1.005 5.418c-.008 1.135.215 1.885.5 2.62.35.89.806 1.733 1.315 2.547.997 1.596 2.168 3.062 3.473 4.428 1.38 1.446 2.88 2.757 4.588 3.83.08.05.134.044.21-.003.968-.603 1.868-1.293 2.722-2.04 1.56-1.364 2.955-2.877 4.184-4.533 1.035-1.394 1.955-2.852 2.56-4.48.19-.513.34-1.037.39-1.58.082-.882-.075-1.73-.494-2.517-.773-1.456-1.988-2.344-3.646-2.64-.766-.138-1.52-.084-2.265.135-1.064.312-1.93.903-2.586 1.778-.31.414-.59.85-.882 1.274-.083.12-.093.12-.172.005-.238-.347-.472-.697-.713-1.042-.9-1.287-2.133-2.032-3.728-2.197-.82-.85-1.62.02-2.367.343-1.954.846-2.966 2.337-3.088 4.072m20.964.295c-.034.97-.22 1.688-.48 2.392-.567 1.553-1.41 2.963-2.373 4.308-1.434 2.01-3.1 3.817-5 5.42-.84.708-1.725 1.36-2.67 1.932-.128.077-.27.132-.412.186-.04.017-.098 0-.143-.016-.327-.112-.606-.308-.89-.495-2.034-1.34-3.792-2.973-5.38-4.788C3.4 13.256 2.31 11.77 1.416 10.15 1.002 9.4.64 8.63.373 7.818.14 7.11-.037 6.386.007 5.636.147 3.31 1.303 1.622 3.424.574 4.338.122 5.33-.056 6.35.02c1.887.137 3.4.954 4.525 2.443.01.013.016.026.026.038.077.104.082.1.165.003.26-.3.506-.62.795-.893.71-.67 1.55-1.125 2.5-1.385.805-.22 1.622-.29 2.444-.16 2.136.337 3.688 1.458 4.626 3.367.387.788.544 1.627.54 2.28" fill="currentColor" />
                        </g>
                    </svg>
                </div>

                <div class="participant__action">  <%= @design.get_upvotes.size %></div>
            </div>
            <div class="participant__social-title">Share</div>
            <div class="participant__social"><a class="participant__social-link" href="https://www.facebook.com/XXX" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a><a class="participant__social-link" href="https://twitter.com/XXX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a><a class="participant__social-link" href="https://plus.google.com/XXX" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> </a><a class="participant__social-link" href="https://pinterest.com/XXX" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i> </a><a class="participant__social-link" href="https://www.instagram.com/XXX" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            <div class="participant__designer-title">Designer</div>
            <div class="participant__designer-block"><div class="participant__designer-photo" style="background-image: url(<%= asset_path @design.user.image %>)" ></div>
                <div class="participant__designer-info">
                    <div class="participant__designer-name"><%= @design.user.first_name%> <%= @design.user.last_name%></div>
                    <div class="participant__designer-location"><%= @design.user.location%> </div>
                </div>
                <div class="participant__designer-sign"><%= @design.user.description %></div>
            </div>
        </div>
    </div>
</div>
<!-- Participant finish -->
<!-- Recommended designers start -->
<hr>
<h2>More from this designer</h2>
<div class="contestants">
    <div class="contestants__wrapper">
        <ul class="contestants__list">
            <li class="contestants__item">
                <a class="contestants__link" href="javascript:;"><img class="contestants__photo" src="static/uploads/contestants_6.jpg?v=1466944291246"></a>
                <div class="contestants__info">
                    <div class="contestants__author">By <a class="contestants__author-link" href="javascript:;">Britney Spears</a></div>
                    <div class="contestants__action">
                        <svg width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Page 1</title>
                            <defs>
                                <path id="like-path" d="M21.97 0H0v19.957h21.97V0z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <path d="M1.005 5.418c-.008 1.135.215 1.885.5 2.62.35.89.806 1.733 1.315 2.547.997 1.596 2.168 3.062 3.473 4.428 1.38 1.446 2.88 2.757 4.588 3.83.08.05.134.044.21-.003.968-.603 1.868-1.293 2.722-2.04 1.56-1.364 2.955-2.877 4.184-4.533 1.035-1.394 1.955-2.852 2.56-4.48.19-.513.34-1.037.39-1.58.082-.882-.075-1.73-.494-2.517-.773-1.456-1.988-2.344-3.646-2.64-.766-.138-1.52-.084-2.265.135-1.064.312-1.93.903-2.586 1.778-.31.414-.59.85-.882 1.274-.083.12-.093.12-.172.005-.238-.347-.472-.697-.713-1.042-.9-1.287-2.133-2.032-3.728-2.197-.82-.085-1.62.02-2.367.343-1.954.846-2.966 2.337-3.088 4.072m20.964.295c-.034.97-.22 1.688-.48 2.392-.567 1.553-1.41 2.963-2.373 4.308-1.434 2.01-3.1 3.817-5 5.42-.84.708-1.725 1.36-2.67 1.932-.128.077-.27.132-.412.186-.04.017-.098 0-.143-.016-.327-.112-.606-.308-.89-.495-2.034-1.34-3.792-2.973-5.38-4.788C3.4 13.256 2.31 11.77 1.416 10.15 1.002 9.4.64 8.63.373 7.818.14 7.11-.037 6.386.007 5.636.147 3.31 1.303 1.622 3.424.574 4.338.122 5.33-.056 6.35.02c1.887.137 3.4.954 4.525 2.443.01.013.016.026.026.038.077.104.082.1.165.003.26-.3.506-.62.795-.893.71-.67 1.55-1.125 2.5-1.385.805-.22 1.622-.29 2.444-.16 2.136.337 3.688 1.458 4.626 3.367.387.788.544 1.627.54 2.28" fill="currentColor" />
                            </g>
                        </svg>
                    </div>
                    <div class="contestants__action">
                    <p></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
