<div id="public_profile">
  <section class="user-info">
      <div class="dummy dummy__wrapper">
        <h3><%= @design %></h3>
        <div class="image-wrapper">

        <div class="" style="background-image: url(<%=  @design.image_url %>);"></div>

        </div>
        <div class="user-info-text">

          <span> <%= @design.user.first_name%> </span>
          <br>

          <p><%= @design.image_desc %>.</p>
        </div>
      </div>
    </div>
  </section>
<div class="dummy">
  <div class="dummy__wrapper">
    <section class="designs">


          <ul class="designs-wrapper">

              <li>
                <a href="/user/designs">
                </a>
                <a href="/designs/<%= design.id%>">#1</a>
              </li>

          </ul>

    </section>



  </div>
</div>
