<ul class="blog__list">
    <li class="blog__item">
        <div class="blog__image-wrapper"><%= image_tag @article.image.url.to_s, class: "blog__image"%></div>
        <div class="blog__info">
            <div class="blog__title"><%= @article.title%>                           </div>
            <div class="blog__author"><%= @article.user.last_name%>  <%= @article.user.first_name%></div>
            <div class="blog__preview"><%= @article.description%></div>
            <div class="blog__date"><%= @article.created_at.strftime("%dth-%B-%Y")%></div>
            <div class="blog__actions">
                <div class="blog__action">
                    <svg width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Page 1</title>
                        <defs>
                            <path id="like-path" d="M21.97 0H0v19.957h21.97V0z" />
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <path d="M1.005 5.418c-.008 1.135.215 1.885.5 2.62.35.89.806 1.733 1.315 2.547.997 1.596 2.168 3.062 3.473 4.428 1.38 1.446 2.88 2.757 4.588 3.83.08.05.134.044.21-.003.968-.603 1.868-1.293 2.722-2.04 1.56-1.364 2.955-2.877 4.184-4.533 1.035-1.394 1.955-2.852 2.56-4.48.19-.513.34-1.037.39-1.58.082-.882-.075-1.73-.494-2.517-.773-1.456-1.988-2.344-3.646-2.64-.766-.138-1.52-.084-2.265.135-1.064.312-1.93.903-2.586 1.778-.31.414-.59.85-.882 1.274-.083.12-.093.12-.172.005-.238-.347-.472-.697-.713-1.042-.9-1.287-2.133-2.032-3.728-2.197-.82-.085-1.62.02-2.367.343-1.954.846-2.966 2.337-3.088 4.072m20.964.295c-.034.97-.22 1.688-.48 2.392-.567 1.553-1.41 2.963-2.373 4.308-1.434 2.01-3.1 3.817-5 5.42-.84.708-1.725 1.36-2.67 1.932-.128.077-.27.132-.412.186-.04.017-.098 0-.143-.016-.327-.112-.606-.308-.89-.495-2.034-1.34-3.792-2.973-5.38-4.788C3.4 13.256 2.31 11.77 1.416 10.15 1.002 9.4.64 8.63.373 7.818.14 7.11-.037 6.386.007 5.636.147 3.31 1.303 1.622 3.424.574 4.338.122 5.33-.056 6.35.02c1.887.137 3.4.954 4.525 2.443.01.013.016.026.026.038.077.104.082.1.165.003.26-.3.506-.62.795-.893.71-.67 1.55-1.125 2.5-1.385.805-.22 1.622-.29 2.444-.16 2.136.337 3.688 1.458 4.626 3.367.387.788.544 1.627.54 2.28" fill="currentColor" />
                        </g>
                    </svg>
                </div>
                <div class="blog__action">
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Page 1</title>
                        <defs>
                            <path id="dislike-path" d="M20.02 0H0v19.965h20.02V0z" />
                        </defs>
                        <g fill="none" fill-rule="evenodd">
                            <path d="M4.85 8.732v-.31l.002-6.867c0-.156 0-.157-.152-.157-1.272 0-2.543 0-3.815-.002-.096 0-.11.036-.11.12 0 2.37 0 4.74-.002 7.11 0 .094.03.115.117.115 1.287-.002 2.575 0 3.863 0 .035 0 .07-.006.098-.008m.768-3.776v.43c0 .907.002 1.814-.002 2.72 0 .103.032.128.13.124.145-.007.292-.004.44 0 .255.01.486.093.633.31.14.207.277.42.372.65.35.843.68 1.695 1.02 2.542.133.328.22.678.435.967.164.218.33.437.507.644.488.57.99 1.126 1.6 1.57.507.37.835.864 1.014 1.46.178.587.265 1.193.32 1.804.02.227.037.454.06.68.006.045.027.102.06.126.288.205.61.254.95.18.313-.068.51-.287.65-.56.178-.34.256-.708.29-1.087.048-.52-.012-1.027-.157-1.527-.105-.368-.29-.702-.46-1.042-.302-.605-.617-1.205-.782-1.868-.077-.31-.106-.622-.022-.937.076-.29.212-.403.504-.394 1.25.036 2.497.065 3.746-.003.496-.027.996-.037 1.468-.234.267-.11.504-.246.618-.53.113-.28.17-.573.198-.872.028-.297-.067-.543-.316-.723-.052-.037-.097-.087-.138-.137-.137-.166-.187-.353-.137-.566.04-.17.146-.294.262-.415.087-.092.182-.18.25-.286.136-.207.13-.446.117-.68-.016-.254-.11-.462-.35-.58-.045-.02-.086-.05-.127-.074-.296-.184-.415-.42-.338-.75.03-.133.116-.263.205-.37.136-.165.204-.346.2-.555-.002-.12-.01-.242-.026-.36-.044-.315-.19-.566-.47-.73-.066-.04-.132-.08-.198-.123-.32-.205-.478-.49-.47-.876.005-.23-.016-.462-.034-.692-.023-.285-.144-.523-.364-.71-.33-.28-.714-.45-1.127-.534-.413-.083-.836-.136-1.258-.154-1.65-.068-3.298.03-4.944.157-.156.012-.31.03-.466.055-.257.04-.513.087-.77.132l-.99.176-.99.175c-.33.06-.66.118-.992.172-.095.016-.125.056-.124.153.003 1.047.002 2.094.002 3.14M0 5.076c0-1.323.002-2.648 0-3.972C0 .803.184.628.467.63 1.994.636 3.52.632 5.047.63c.185 0 .317.072.395.244.012.026.06.053.088.05.46-.08.917-.163 1.376-.243l1.212-.21c.334-.06.666-.13 1-.178.37-.053.744-.098 1.117-.128.51-.04 1.02-.064 1.532-.095.98-.06 1.962-.095 2.943-.055.49.02.984.065 1.466.155.657.124 1.265.383 1.745.874.283.287.44.635.47 1.037.02.26.037.52.04.78 0 .127.046.208.15.272.132.083.266.166.39.26.347.272.518.645.59 1.07.047.276.06.554.013.835-.04.242-.14.454-.292.64-.054.068-.045.1.028.14.433.243.637.626.693 1.112.046.383.01.75-.165 1.092-.086.167-.222.31-.345.456-.055.065-.073.098.002.16.326.278.47.642.475 1.063.005.496-.095.97-.306 1.42-.197.42-.553.655-.967.833-.43.185-.884.238-1.342.27-1.267.09-2.535.06-3.804.04-.184-.003-.19.007-.154.192.07.364.204.707.36 1.04.238.502.494.996.727 1.5.3.655.413 1.347.393 2.065-.016.58-.128 1.137-.4 1.655-.22.42-.54.73-.996.887-.34.118-.686.132-1.037.043-.24-.06-.465-.148-.666-.293-.243-.176-.374-.403-.394-.715-.03-.47-.088-.94-.145-1.41-.045-.37-.13-.735-.265-1.086-.135-.35-.35-.64-.65-.86-.715-.527-1.307-1.178-1.872-1.853-.264-.314-.524-.635-.686-1.017-.132-.31-.244-.63-.37-.944-.31-.777-.622-1.552-.934-2.327l-.016-.035c-.19-.37-.19-.37-.604-.37-.098 0-.196 0-.294-.002-.056 0-.084.012-.074.078.034.235-.153.436-.412.436H.43c-.262 0-.43-.175-.43-.442V5.076" fill="currentColor" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </li>
    <!-- Post contents finish -->
</ul>