<%= form_for(resource, as: @user, url: registration_path(@user), html: { method: :put, class: "form account__form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p class="form__group">
      <%= f.label :email, class: "form__label form__label_required" %><br />
      <%= f.email_field :email, autofocus: true, class: "form__input" %>
    </p>
  </div><br>

  <div class="field">
    <p class="form__group">
      <%= f.label :first_name, class: "form__label form__label_required" %><br />
      <%= f.text_field :first_name, autofocus: true, class: "form__input" %>
    </p>
  </div><br>

  <div class="field">
    <p class="form__group">
      <%= f.label :last_name, class: "form__label form__label_required" %><br />
      <%= f.text_field :last_name, autofocus: true, class: "form__input" %>
    </p>
  </div><br>

  <div class="field">
    <p class="form__group">
      <%= f.label :phone_number, class: "form__label form__label_required" %><br />
      <%= f.text_field :phone_number, autofocus: true, class: "form__input" %>
    </p>
  </div><br>

  <div class="field">
    <p class="form__group">
      <%= f.label :description, class: "form__label form__label_required" %><br />
      <%= f.text_area :description, autofocus: true, class: "form__input" %>
    </p>
  </div><br>

  <div class="field">
    <p class="form__group">
      <%= f.label :gender, class: "form__label form__label_required" %><br />
      <%= f.select :gender, options_for_select(["Male", "Female", "Gender Free"]), autofocus: true, class: "button button_blue" %>
    </p>
  </div><br />  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <% if f.object.encrypted_password.present? %>
    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  <% end %>

  <p class="form__group">
      <label class="form__label">Connect</label>
  </p>
  <div class="account__connect">
      <div class="account__connect-button">
          <div class="account__connect-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          <div class="account__connect-text"><input class="form__input" type="text" name="" value="" placeholder="Facebook user"></div>
      </div>
      <div class="account__connect-button">
          <div class="account__connect-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          <div class="account__connect-text"><input class="form__input" type="text" name="" value="" placeholder="Twitter user"></div>
      </div>
      <div class="account__connect-button">
          <div class="account__connect-icon"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
          <div class="account__connect-text"><input class="form__input" type="text" name="" value="" placeholder="Google user"></div>
      </div>
      <div class="account__connect-button">
          <div class="account__connect-icon"><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
          <div class="account__connect-text"><input class="form__input" type="text" name="" value="" placeholder="Pinterest user"></div>
      </div>
      <div class="account__connect-button">
          <div class="account__connect-icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          <div class="account__connect-text"><input class="form__input" type="text" name="" value="" placeholder="Instagram user"></div>
      </div>
      <div class="account__connect-button">
          <div class="account__connect-icon"><i class="fa fa-behance" aria-hidden="true"></i></div>
          <div class="account__connect-text"><input class="form__input" type="text" name="" value="" placeholder="Behance user"></div>
      </div>
  </div>
  <p></p>

  <div class="actions">
    <%= f.submit "Save", class: "button button_blue" %>
  </div><br />
<% end %>