<div class="columns__content">
   <h3 class="title_h3">My profile</h3>
   <!-- Account settings start -->
   <div class="account">
      <div class="account__avatar">
         <% if @user.image_status == "upload" %>
            <%= image_tag @user.avatar_url, class: "account__avatar-photo" %>
         <% elsif @user.image != nil%>
            <%= image_tag @user.image_url, class: "account__avatar-photo" %>
         <% else  %>
            <%= image_tag "default-user.png", class: "account__avatar-photo" %>
         <% end %>
         <div class="account__avatar-edit" id="edit-image">Upload Image</div>

         <!-- Image Upload-->
         <div id="upload-image">
            <%= render "image_upload" %>
         </div>
         <!-- End Image Upload -->
      </div>
      	<!-- Account settings start -->
	 	   <%= render "edit_profile" %>

         
         <div class="account__connect">
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
               <div class="account__connect-text"><%= @user.first_name %></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
               <div class="account__connect-text"><%= @user.first_name %></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
               <div class="account__connect-text"></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
               <div class="account__connect-text"></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
               <div class="account__connect-text"><%= @user.first_name %></div>
            </div>
         </div>
      </form>
   </div>
   <!-- Account settings finish -->
</div>