<div class="columns__content">
   <h3 class="title_h3">My profile</h3>
   <!-- Account settings start -->
   <div class="account">
     <div class="">
        <div class="account__avatar">

          <% if @user.image_status == "upload" %>
             <div class="account__avatar-photo" style="background-image: url(<%=  @user.avatar_url %>);"></div>
          <% elsif @user.image != nil%>
             <div class="account__avatar-photo" ></div>
          <% else %>
            <div class="account__avatar-photo" ></div>
          <% end %>
           <div class="account__avatar-edit" id="edit-image">Upload Image</div>

        </div>
         <!-- Image Upload-->
         <div id="upload-image">
            <%= render "image_upload" %>
         </div>
         <!-- End Image Upload -->
      </div>
      	<!-- Account settings start -->
	 	   <%= render "edit_profile" %>


         <div class="account__connect">
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
               <div class="account__connect-text"><%= @user.first_name %></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
               <div class="account__connect-text"><%= @user.first_name %></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
               <div class="account__connect-text"></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-pinterest-p" aria-hidden="true"></i></div>
               <div class="account__connect-text"></div>
            </div>
            <div class="account__connect-button">
               <div class="account__connect-icon"><i class="fa fa-instagram" aria-hidden="true"></i></div>
               <div class="account__connect-text"><%= @user.first_name %></div>
            </div>
         </div>
      </form>
   </div>
   <!-- Account settings finish -->
</div>
