<div id="public_profile">
  <section class="user-info">
      <div class="dummy dummy__wrapper">
        <h3><%= @user.last_name %> <%= @user.first_name %></h3>
        <div class="image-wrapper">
          <% if @user.image_status == "upload" %>
             <div class="account__avatar-photo" style="background-image: url(<%=  @user.avatar_url %>);"></div>
          <% elsif @user.image != nil%>
             <div class="account__avatar-photo" ></div>
          <% else %>
            <div class="account__avatar-photo" ></div>
          <% end %>
        </div>
        <div class="user-info-text">
          <span>Location - <%= @user.location %> </span> <br>
          <span>Member since <%= @user.created_at.strftime("%dth-%B-%Y")%> </span>
          <br>

          <p><%= @user.description %>.</p>
        </div>
        <h4>Connect with <%= @user.first_name %></h4>
        <div class="header__social">
         <a class="header__social-link" href="https://www.facebook.com/XXX" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://twitter.com/XXX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://plus.google.com/XXX" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://pinterest.com/XXX" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://www.instagram.com/XXX" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>
<div class="dummy">
  <div class="dummy__wrapper">
    
    <section class="blog-posts">
      <h3>Designs</h3>
      <div class="digg_pagination">
        <div class="page_info">
          <%= paginate @designs %>
        </div>
      </div>      
      <% if @designs.empty? %>
        <p> This user has no designs available </p>
      <% else %>
        <ul class="designs-wrapper">
          <% @designs.each do |design| %>
            <li>
              <a href="/designs/<%= design.id %>">
                <%= image_tag design.image.url, class: "top-designers__project" %>
              </a> 
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= paginate @designs, :page_links => false %>
    </section>


    <section class="blog-posts">
      <h3>blog posts</h3> 
      <div class="digg_pagination">
        <div class="page_info">
          <%= paginate @articles %>
        </div>
      </div>

      <% if @articles.empty? %>
        <p> This user has no blogpost available </p>
      <% else %>
        <ul>
          <% @articles.each do |article| %>
            <li>
              <a href="">
                <%= image_tag article.image.url, class: "image" %>
              </a>
              <div class="blog-description">
                <h4><%= article.title %></h4>
                <span>By <a href="/users/<%= article.user.slug %>"><%= @user.last_name %> <%= @user.first_name %></a> · </span>  
                <span><%= article.created_at.strftime("%d-%B-%Y")%></span>
                <p> <%= article.description[0,300]%>...   
                <br><br>
                <a href="articles/<%= article.id %>" class="read-more">Continue reading »</a></p>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= paginate @articles, :page_links => false %>
    </section>
  </div>
</div>
