<div id="public_profile">
  <section class="user-info">
      <div class="dummy dummy__wrapper">
        <h3><%= @user.last_name %> <%= @user.first_name %></h3>
        <div class="image-wrapper">
          <% if @user.image_status == "upload" %>
             <div class="account__avatar-photo" style="background-image: url(<%=  @user.avatar_url %>);"></div>
          <% elsif @user.image != nil%>
             <div class="account__avatar-photo" ></div>
          <% else %>
            <div class="account__avatar-photo" ></div>
          <% end %>
        </div>
        <div class="user-info-text">
          <span>Location - <%= @user.location %> </span> <br>
          <span>Member since <%= @user.created_at.strftime("%dth-%B-%Y")%> </span>
          <br>

          <p><%= @user.description %>.</p>
        </div>
        <h4>Connect with <%= @user.first_name %></h4>
        <div class="header__social">
         <a class="header__social-link" href="https://www.facebook.com/XXX" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://twitter.com/XXX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://plus.google.com/XXX" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://pinterest.com/XXX" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i> </a>
         <a class="header__social-link" href="https://www.instagram.com/XXX" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>
<div class="dummy">
  <div class="dummy__wrapper">
    <section class="designs">
      <h3>Designs</h3>
        <% if @designs.empty? %>
          <p> This user has no designs available </p>
        <% else %>
          <ul class="designs-wrapper">
            <% @designs.each do |design| %>
              <li>
                <a href="/user/designs">
                   <div class="design-image" style="background-image: url(<%= design.image.url %>);"></div>
                </a>
                <a href="/designs/<%= design.id%>">#1</a>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= will_paginate @designs %>
    </section>


    <section class="blog-posts">
    <h3>blog posts</h3>
      <% if @articles.empty? %>
        <p> This user has no blogpost available </p>
      <% else %>
        <ul>
          <% @articles.each do |article| %>
            <li>
              <a href="">
                <div class="image" style="background-image: url(<%= article.image.url %>);"></div>
              </a>
              <div class="blog-description">
                <h4><%= article.title %></h4>
                <span>By<a href=""><%= @user.last_name %> <%= @user.first_name %></a> · </span>
                <span><%= article.created_at.strftime("%dth-%B-%Y")%></span>
                <p> <%= article.description[0,100]%>...   <a href="articles/<%= article.id %>" class="read-more">Continue reading »</a></p>

              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= will_paginate @articles %>
    </section>
  </div>
</div>
