<% if current_user %>
  <div class="container" id="my_profile">
    <h1 class="title_h1">My dashboard</h1>
    <p class="page-description">Welcome to your dashboard. You can set up your account, check your orders and manage your designs here.</p>

    <div class="columns">
      <!-- Left menu start -->
      <div class="columns__left-menu">
          <%= render "left_menu" %>
      </div>
      <!-- Left menu finish --> 

      <!-- Render designs div start-->
      <div id="design-info">
        <% if @designs.empty? %>
          <%= render 'add_design_button' %>
          <p class="button__text"> User has no designs </p>
        <% else %>
          <div  class="columns__content">
            <%= render 'add_design_button' %>
            <h3 class="title_h3">My designs</h3>
            <!-- My designs start -->
            <ul class="my-designs">
              <% @designs.each do |design| %>
                <li class="my-designs__item">
                  <div class="my-designs__image-wrapper">
                    <%= image_tag design.image.url.to_s, class: "blog__image"%>
                  </div>

                  <div class="my-designs__info">
                    <div class="my-designs__title">Description</div>
                    <div class="my-designs__description"><%= design.image_desc %></div>
                    <div class="my-designs__date">
                      Submitted <%= design.created_at.strftime("%d %B %Y")%>
                    </div>
                    <div class="buttons_one_design">
                      <a href="#" class="button_small button_blue button_design_right">
                        <div class="button__text">Add to Competition</div>
                      </a>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
            <!-- My designs finish -->
          </div><br>
        <%end%>
        <%= will_paginate @designs %>
      </div>
      <!-- Render designs div end -->
    </div>
  </div>
<% end %>