<div class="wrapper">
  <form action="/users" method="get">
    <div class="bar">
      <input class="search-page" type="search" name="search" placeholder="Search...">
    </div>
  </form>

  <ul class="users-list">
  	<% @users.each do |user| %>
  	  <li>
  	    <div class="user-image-wrapper">
  	    	<% if user.image_status == "upload" %>
            <div class="user-image" style="background-image: url(<%=  user.avatar_url %>);"></div>
  	    	<% elsif user.image != nil%>
            <div class="user-image" ></div>
  	    	<% else %>
          <div class="user-image" ></div>

  	    	<% end %>

  	    </div>
        <div class="user-details">
          <a href="/users/<%= user.slug%>"><%= user.first_name  %> <%= user.last_name  %> </a>
        </div>

  	  </li>
    <% end %>
  </ul>

  <%= paginate @users %>
</div>
