<div id="public_profile">

  <section class="user-info">
    <h3>Helena V. Icart</h3>
  <div class="image-wrapper">
    <%= image_tag "default-user.png", class: "user-image" %>
  </div>
  <div class="user-info-text">
    <span>Location</span> - <span>Member since October 2016 </span>
    <br>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
  </div>
  <h4>Connect with Helena</h4>
  <div class="header__social">
   <a class="header__social-link" href="https://www.facebook.com/XXX" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
   <a class="header__social-link" href="https://twitter.com/XXX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
   <a class="header__social-link" href="https://plus.google.com/XXX" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> </a>
   <a class="header__social-link" href="https://pinterest.com/XXX" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i> </a>
   <a class="header__social-link" href="https://www.instagram.com/XXX" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
  </section>

  <section class="designs">
    <h3>Designs</h3>
      <ul class="designs-wrapper">
        <li><a href="/user/designs"><%= image_tag "design.png", class: "design-image" %></a> <a href="/user/designs">#1</a></li>
        <li><a href="/user/designs"><%= image_tag "design.png", class: "design-image" %></a> <a href="/user/designs">#1</a></li>
        <li><a href="/user/designs"><%= image_tag "design.png", class: "design-image" %></a> <a href="/user/designs">#1</a></li>
        <li><a href="/user/designs"><%= image_tag "design.png", class: "design-image" %></a> <a href="/user/designs">#1</a></li>
        <li><a href="/user/designs"><%= image_tag "design.png", class: "design-image" %></a> <a href="/user/designs">#1</a></li>
        <li><a href="/user/designs"><%= image_tag "design.png", class: "design-image" %></a> <a href="/user/designs">#1</a></li>
      </ul>
  </section>


  <section class="blog-posts">
  <h3>blog posts</h3>
    <ul>
      <li>
        <a href="">
          <%= image_tag "design.png", class: "image" %>
        </a>
        <div class="blog-description">
          <h4>The blog title</h4>
          <span>By<a href=""> Blog Author</a> · </span>  <span>May 5th, 2016</span>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...   <a href="" class="read-more">Continue reading »</a></p>

        </div>
      </li>
    </ul>

  </section>
</div>
