<div class="about wrapper">
  <!-- Section tittle -->
  <h1 class="title_h1_head">About Us</h1>
  <!-- Section Icon and small description become -->
  <div class="columns">
    <ul class="left-menu">
       <li class="left-menu__item">
          <a class="left-menu__link" data-tab="team">
             <div class="left-menu__link-text">Team</div>
             <div class="left-menu__link-arrow">
                <svg width="9" height="15" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg">
                   <title>Fill 1</title>
                   <path d="M8 7.38c.003.175-.08.33-.215.463l-2.162 2.16c-1.156 1.156-2.312 2.31-3.466 3.467-.14.14-.292.246-.5.246-.267 0-.508-.144-.6-.378-.104-.26-.068-.503.13-.706.287-.294.58-.58.87-.87C3.49 10.326 4.924 8.89 6.358 7.46c.098-.1.098-.1 0-.2-1.713-1.71-3.425-3.423-5.14-5.134-.128-.13-.212-.275-.215-.462-.005-.282.125-.482.372-.603.233-.113.515-.064.707.124.275.267.544.54.816.812l4.883 4.882c.135.134.22.288.217.5" stroke="currentColor" fill="currentColor" fill-rule="evenodd"/>
                </svg>
             </div>
          </a>
       </li>
       <li class="left-menu__item">
          <a class="left-menu__link" data-tab="lumumba">
             <div class="left-menu__link-text">About <br> Lumumba</div>
             <div class="left-menu__link-arrow">
                <svg width="9" height="15" viewBox="0 0 9 15" xmlns="http://www.w3.org/2000/svg">
                   <title>Fill 1</title>
                   <path d="M8 7.38c.003.175-.08.33-.215.463l-2.162 2.16c-1.156 1.156-2.312 2.31-3.466 3.467-.14.14-.292.246-.5.246-.267 0-.508-.144-.6-.378-.104-.26-.068-.503.13-.706.287-.294.58-.58.87-.87C3.49 10.326 4.924 8.89 6.358 7.46c.098-.1.098-.1 0-.2-1.713-1.71-3.425-3.423-5.14-5.134-.128-.13-.212-.275-.215-.462-.005-.282.125-.482.372-.603.233-.113.515-.064.707.124.275.267.544.54.816.812l4.883 4.882c.135.134.22.288.217.5" stroke="currentColor" fill="currentColor" fill-rule="evenodd"/>
                </svg>
             </div>
          </a>
       </li>
     </ul>

    <div class="columns__content active" id="team">

        <ul class="team" id="team">
          <li>
          <div class="wrapper__image">
            <%= image_tag "team/edu_dibuix.png", class: "img_responsive" %>
          </div>
            <p class="team__name">
              Eduard Jubany Tur
            </p>
            <p class="team__position">
            Founder & Startup Lead
            </p>
          </li>

          <li>
            <div class="wrapper__image">
              <%= image_tag "team/mar_dibuix.png", class: "img_responsive" %>
            </div>
            <p class="team__name">
              Mar Gràcia Corberó
            </p>
            <p class="team__position">
             Design Lead
            </p>
          </li>

          <li>
            <div class="wrapper__image">
              <%= image_tag "team/isabel_dibuix.png", class: "img_responsive" %>
            </div>
            <p class="team__name">
              Isabel Giribets Morón
            </p>
            <p class="team__position">
              Product Lead
            </p>
          </li>

          <li>
            <div class="wrapper__image">
              <%= image_tag "team/dibuix_stephen.png", class: "img_responsive" %>
            </div>
            <p class="team__name">
               Meya S. Kenigbolo
            </p>
            <p class="team__position">
            Software Engineer
            </p>
          </li>

          <li>
            <div class="wrapper__image">
              <%= image_tag "team/gisela_dibuix-01.png", class: "img_responsive" %>
            </div>
            <p class="team__name">
              Gisela Cruz Prim
            </p>
            <p class="team__position">
            Graphic Design Intern
            </p>
          </li>
        </ul>
      </div>
      <hr>
      <div class="columns__content" id="lumumba">
       <ul class="become__list" >
          <li class="become__item_3">
            <div class="column__content">
                 <h4 class="h_about_us">What is Lumumba?</h4>
                 <p class="p_about_us p_about_us_red">Lumumba is a multicultural apparel startup. We believe in a diverse multicultural world. Our mission is simple: Wear the world.<p>
            </div>
          </li>
          <li class="become__item_3">
             <div class="column__content">
                  <h4 class="h_about_us">What is our goal?</h4>
                  <p class="p_about_us p_about_us_blue">We aim to create meaningful clothes that connect you with the diferent cultures that inhabit this planet. Every month, we will discover together a new culture and we will release a clothing collection inspired by it.<p>
             </div>
          </li>
          <li class="become__item_3">
             <div class="column__content">
                  <h4 class="h_about_us">How does it work?</h4>
                  <p class="p_about_us p_about_us_orange">We work with designers in each of these countries to promote democracy and diversity in the Apperel & Fashion industry. Each month we host an online design competition open to everybody. The winners will be part of the clothing collections and receive part of the profits as well.<p>
             </div>
          </li>
      </ul>


      <div class="wrapper center">
          <%= image_tag "alpha_logo.png", class: "img_responsive" %>
          <%= image_tag "fi_tagline_logo-transparent.png", class: "img_responsive" %>
          <%= image_tag "rails-logo.svg", class: "img_responsive" %>
      </div>
    </div>
  <!-- End Section Icon and small description become -->

  </div>
</div>
