<div class="container">
	<% if user_signed_in? %>
		<p>Logged in as <strong><%= current_user.email %></strong></p>
		<%= link_to "Edit Profile", edit_user_registration_path %> |
		<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign up", new_user_registration_path %> |
		<%= link_to "Login", new_user_session_path %>
	<% end %>
</div>

<a class="header__personal-link header__personal-link_auth" href="<%= new_user_session_path %>" target="_blank">Sign in </a>
<a class="header__personal-link header__personal-link_auth" href="<%= new_user_registration_path %>" target="_blank">Sign up</a>