<section id="sign-in" style="background-image: url(<%= asset_path 'home_bg.png' %>)">

  <div class="image column">
    <div class="columns__content">
        <%= image_tag "themes/banjara_07 Tim McLaughlin.jpg", class: "img_responsive" %>
    </div>
  </div>

  <div class="form column">
    <div class="columns__content">
      <!-- Section tittle -->
        <h1 class="">Join Lumumba</h1>
        <p class="page-description_social">By signing up you agree to the <a href="#"> Terms of Services</a> and <a href="#">Privacy Policy</a> </p>
      <!-- End Section tittle -->
      <!-- START Botones sociales -->
      <a href="/users/auth/facebook">
        <div class="button-social facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i> <spam class="social-text">Sign up using Facebook</spam>
      </div>
      </a>
      <a href="/">
      <div class="button-social twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i> <spam class="social-text">Sign up using Twitter</spam>
      </div>
      </a>
      <a href="/">
      <div class="button-social google">
        <i class="fa fa-google-plus" aria-hidden="true"></i> <spam class="social-text">Sign up using Google+</spam>
      </div>
      </a>
      <!-- END Botones sociales -->
    </div>
  </div>
</section>

<section id="collection" style="background-image: url(<%= asset_path 'latest_bg.png' %>)">
<div class="latest__wrapper">
  <div class="logos">
    <div class="right">
      <%= image_tag "lumumbalogo_white2.png", class: "img_responsive" %>

    </div>
    <div class="left">
      <%= image_tag "masabalogo_white.png", class: "img_responsive" %>

    </div>



  </div>
  <div class="latest__title">Masaba x Lumumba</div>
  <div class="latest__tile-list">
      <figure class="latest__tile">
        <div class="wrapper__image">
          <div class="latest__image" style="background-image: url(<%= asset_path '_MG_6406.jpg' %>) "></div>
          <figcaption class="latest__caption"><a class="latest__link" href="product.html">Shana M. - Olive blouse shirt</a></figcaption>
        </div>
      </figure>
      <figure class="latest__tile">
        <div class="wrapper__image">
          <div class="latest__image second" style="background-image: url(<%= asset_path '_MG_6465.jpg' %>)" ></div>
          <figcaption class="latest__caption"><a class="latest__link" href="product.html">Carolyn J. - Cashmere sweater</a></figcaption>
        </div>
      </figure>
  </div>
  <div class="bottom">
    <a class="latest__link button" href="/products">See more products</a>
  </div>

</div>
</section>

<section id="competition" style="background-image: url(<%= asset_path 'countdown_bg.png' %>)">

  <div class="column">
    <div class="call-to-action">
      <div class="call-to-action__wrapper">
          <div class="call-to-action__title">The Competition is Live Now.</div>
          <div class="call-to-action__text">Want to join the Lumumba tribe? Get inspired by the Banjara and create a street fashion outfit for the competition.</div>
          <a href="/designs" class="button ">
              <div class="button__text">Become a Designer</div>
          </a>
      </div>
    </div>
  </div>
  <div class="image column">
    <div class="columns__content flex_item">
      <div class="img-bg" style="background-image: url(<%= asset_path 'winner_1.png' %>)"></div>
    </div>
  </div>
</section>
