<%= render 'designs/countdown' %>

<!-- Latest start -->
<div class="latest">
  <div class="latest__wrapper">
      <div class="latest__title">The Banjara Competition </div>
      <div class="latest__tile-list">
          <figure class="latest__tile">
              <div class="img_theme_principal">
                  <%= image_tag "themes/banjara_07 Tim McLaughlin.jpg", class: "img_responsive" %></div>
              <center>
                <figcaption class="latest__caption"><a class="latest__link" href="">Discover the ancient Banjara</a>
                    <p class="latest__description">The Banjara are an ancient culture from India. They are the original wanderers, the original nomads that became the gypsies. From the scorched deserts of Rajasthan, they spread across India and the world. They danced, weaved and sung while fighting and giving support to multiple wars. Discover their story here and inspire yourself</p>
                </figcaption>
              </center>
          </figure>
      </div>
  </div>
</div>
<!-- Latest finish -->
<hr>
<!-- Checkers start -->
<div class="checkers">
  <div class="checkers__wrapper">
      <ul class="checkers__tiles">
        <li class="checkers__tile">
            <div class="theme_post_image"><a href="">
                <%= image_tag "themes/history.png", class: "img_responsive" %></a></div>
            <div class="checkers__desc">
                <h4 class="checkers__title"><a href="">History</a></h4>
                <p class="checkers__text">Discover the history of the Banjara. Where do they come from? How is it to live like a nomad?</p>
            </div>
        </li>
        <li class="checkers__tile">
            <div class="theme_post_image"><a href=""><%= image_tag "themes/interesting.png", class: "img_responsive" %></a></div>
            <div class="checkers__desc">
                <h4 class="checkers__title"><a href="">The Facts</a></h4>
                <p class="checkers__text">Fun facts of Banjara culture. Did you know about the mysterious Bhaul? The magic, the dance and more.</p>
            </div>
        </li>
          <li class="checkers__tile">
              <div class="theme_post_image"><a href=""><%= image_tag "themes/clothing.png", class: "img_responsive" %></a></div>
              <div class="checkers__desc">
                  <h4 class="checkers__title"><a href="">Clothing</a></h4>
                  <p class="checkers__text">Banjara clothing is heavy, complex and colourful. It is their way to connect with the gods and keep bad omens away.</p>
              </div>
          </li>
          <li class="checkers__tile">
              <div class="theme_post_image"><a href=""><%= image_tag "themes/tattoos.png", class: "img_responsive" %></a></div>
              <div class="checkers__desc">
                  <h4 class="checkers__title"><a href="">Tattoos</a></h4>
                  <p class="checkers__text">Did you know the Banjara have a long tradition of tattoos? It's a fascinating read. </p>
              </div>
          </li>
          <li class="checkers__tile">
              <div class="theme_post_image"><a href=""><%= image_tag "themes/jewelry.png", class: "img_responsive" %></a></div>
              <div class="checkers__desc">
                  <h4 class="checkers__title"><a href="">Jewelry</a></h4>
                  <p class="checkers__text">As you might seen by the pictures, the Banjara people love turning simple objects like coins into elaborate jewelry. </p>
              </div>
          </li>
          <li class="checkers__tile">
              <div class="theme_post_image"><a href=""><%= image_tag "themes/embroidery.png", class: "img_responsive" %></a></div>
              <div class="checkers__desc">
                  <h4 class="checkers__title"><a href="">Embroidery</a></h4>
                  <p class="checkers__text">For the Banjaras, clothing can't be perfect as only the gods are perfect. Discover more here.</p>
              </div>
          </li>
      </ul>
  </div>
</div>
<!-- Checkers finish -->
<!-- Call to action start -->
<div class="call-to-action">
  <div class="call-to-action__wrapper">
      <div class="call-to-action__title">The Competition is Live Now.</div>
      <div class="call-to-action__text">Want to join the Lumumba tribe? Get inspired by the Banjara and create a street fashion outfit for the competition.</div>
      <a href="/competition" class="button button_white-blue">
          <div class="button__text">Become a Designer</div>
      </a>
  </div>
</div>
<!-- Call to action finish -->
<!-- Theme description start -->
<div class="theme-desc">
  <div class="theme-desc__wrapper">
      <h2 class="title_h2">What's next after the Banjara?</h2>
      <p class="theme-desc__text">Each month Lumumba proposes a new culture from the world so you can get inspiration. Each month we release a clothing collection and a competition inspired by these cultures. During November 2016, we chose to discover the Banjara culture. Our mission is to bring you meaningful clothes that represent the amazing diversity that exists in the world. </p>
      <div class="img_theme_principal">
        <%= image_tag "themes/banjara26.png", class: "img_responsive" %>
      </div>
      <p>Photo credits to Tim Mclaughlin and Charllote Kwon, from the book &quot;Textiles from the Banjara&quot;, published by Thames &amp; Hudson.</p>
  </div>
</div>
<!-- Theme description finish -->
