<div class="layout__content" id="products_index">
    <!-- Winner start -->
    <div class="winner">
        <div class="winner__wrapper">
            <div class="winner__info">
                <div class="winner__title">The Banjara Collection</div>
                <p><a href="javascript:;" class="winner__link">Inspired by the Banjara from India</a> </p>
                <div class="winner__button-wrapper">
                    <a class="button button_white-yellow" href="<%= products_path %>">
                        <div class="button__icon">
                            <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
                                <title>Group 2</title>
                                <g stroke="currentColor" fill="none" fill-rule="evenodd">
                                    <path d="M1 5h15.994L13.94 15.747H4.054zM12.632 4.816C12.632 2.708 10.922 1 8.816 1 6.708 1 5 2.708 5 4.816" />
                                </g>
                            </svg>
                        </div>
                        <div class="button__text">Shop this look</div>
                    </a>
                </div>
            </div>
            <div class="winner__image-wrapper"><%= image_tag "winner_1.jpg", class: "winner__image" %></div>
        </div>
    </div>
    <!-- Winner finish -->
    <!-- Latest start -->
    <section id="collection">
    <div class="latest__wrapper">
      <div class="latest__title">Masaba x Lumumba</div>
      <div class="latest__tile-list">
          <figure class="latest__tile">
            <div class="wrapper__image">
              <div class="latest__image" style="background-image: url(<%= asset_path '_MG_6406.jpg' %>) "></div>
              <figcaption class="latest__caption"><a class="latest__link" href="">Shana M. - Olive blouse shirt</a></figcaption>
            </div>
          </figure>
          <figure class="latest__tile">
            <div class="wrapper__image">
              <div class="latest__image second" style="background-image: url(<%= asset_path '_MG_6465.jpg' %>)" ></div>

              <figcaption class="latest__caption"><a class="latest__link" href="">Carolyn J. - Cashmere sweater</a></figcaption>
            </div>
          </figure>
      </div>
      <div class="bottom">
        <a class="latest__link button" href="<%= products_path %>">See more products</a>
      </div>
    </div>
    </section>
    <!-- Latest finish -->
    <hr>
    <h1 class="title_h1">Shop Now</h1>
    <!-- Filter start -->
    <div class="filter">
        <div class="filter__wrapper">
            <div class="filter__droprown">
                <div class="filter__droprown-title">Sort by</div>
                <select class="filter__droprown-select" name="sort">
                    <option value="dresses" selected="selected">Dresses</option>
                    <option value="t-shirts">T-Shirts</option>
                </select>
            </div>
            <div class="filter__droprown">
                <div class="filter__droprown-title">Filter</div>
                <select class="filter__droprown-select" name="filter">
                    <option value="dresses" selected="selected">Dresses</option>
                    <option value="t-shirts">T-Shirts</option>
                </select>
            </div>
            <div class="filter__summary">
                <span class="filter__summary-highlight">
                    <div class="page_info">
                      <%= paginate @products %>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <!-- Filter finish -->
    <!-- Catalog start -->
    <div class="catalog">
        <div class="catalog__wrapper">
            <ul class="catalog__list">
                <% @products.each do |product| %>
                    <li class="catalog__item">
                        <div class="catalog__to-cart">
                            <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
                                <title>Group 2</title>
                                <g stroke="currentColor" fill="none" fill-rule="evenodd">
                                    <path d="M1 5h15.994L13.94 15.747H4.054zM12.632 4.816C12.632 2.708 10.922 1 8.816 1 6.708 1 5 2.708 5 4.816" />
                                </g>
                            </svg>
                        </div>
                        <a class="catalog__link" href="/products/<%= product.id %>">
                          <div class="catalog__photo" style="background-image: url(<%= asset_path product.main_image_url %>)" ></div></span> <span class="catalog__price">€ <%= product.price %></span></a>
                    </li>
                <% end %>
            </ul>
             <%= paginate @products %>
        </div>
    </div>
    <!-- Catalog finish -->
</div>





<!--                 <% @products.each do |product| %>
                <li class="catalog__item" style="background-image: url(<%=  product.main_image_url %>);">
                  <a class="catalog__link" href="/products/<%= product.slug %>">
                    <div class="catalog__to-cart">
                        <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
                            <title>Group 2</title>
                            <g stroke="currentColor" fill="none" fill-rule="evenodd">
                                <path d="M1 5h15.994L13.94 15.747H4.054zM12.632 4.816C12.632 2.708 10.922 1 8.816 1 6.708 1 5 2.708 5 4.816" />
                            </g>
                        </svg>
                    </div>
                  </a>
                  <div class="product__description">  <a class="catalog__link" href="/products/<%= product.slug %>"> <span class="catalog__name"><%= product.name %></span> <span class="catalog__price">€ <%= product.price %></span></a></div>
                </li>
                <% end %> -->
