<%= form_for :product,url: products_path, html: {class: "form ", multipart: true } do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form__group">
    <%= f.label :name, "Name of product" %><br>
    <%= f.text_field :name, class: "form__input" %>
  </p><br>
 
  <p class="form__group">
    <%= f.label :designer, "Name of Designer" %><br>
    <%= f.text_field :designer, class: "form__input" %>
  </p><br>

  <p class="form__group">
    <%= f.label :preview, "Product only available for preview" %><br>
    <%= f.check_box :preview,class: "form__input" %>
  </p><br>

  <p class="form__group">
    <%= f.label :price, "Product price" %><br>
    <%= f.number_field :price, class: "form__input", step: "0.01" %>
  </p><br>

  <p class="form__group">
    <%= f.label :description, "Enter a description for your product" %><br>
    <%= f.text_area :description, class: "form__input"%>
  </p><br>

  <p class="form__group">
    <%= f.label :main_image, "Upload the main image for the product"%>
    <%= f.file_field :main_image, class: "form__input" %>
  </p><br>

  <p class="form__group">
    <%= f.label :first_thumbnail, "Upload the main image for the product"%>
    <%= f.file_field :first_thumbnail, class: "form__input" %>
  </p><br>

  <p class="form__group">
    <%= f.label :second_thumbnail, "Upload the main image for the product"%>
    <%= f.file_field :second_thumbnail, class: "form__input" %>
  </p><br>

  <p class="form__group">
    <%= f.label :third_thumbnail, "Upload the main image for the product"%>
    <%= f.file_field :third_thumbnail, class: "form__input" %>
  </p><br>

  <p class="form__group">
    <%= f.submit "Add Product", class: "button button_blue"%>
  </p>
<% end %>

<br>
<%= link_to 'Back', articles_path, class: "button button_blue" %>