<div id="product_show">
  <!-- Breadcrumbs start -->
  <div class="breadcrumbs">
      <div class="breadcrumbs__wrapper">
          <ul class="breadcrumbs__list">
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:;">Lumumba</a></li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:;">Shop</a></li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:;">Dresses</a></li>
              <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="javascript:;"><%= @product.name %></a></li>
          </ul>
      </div>
  </div>
  <!-- Breadcrumbs finish -->
  <!-- Product start -->
  <div class="product">
      <div class="product__wrapper">
          <div class="product__gallery">
              <ul class="product__preview-list">
                  <li class="product__preview-item" style="background-image: url(<%=  @product.first_thumbnail_url %>);"></li>
                  <li class="product__preview-item" style="background-image: url(<%=  @product.second_thumbnail_url %>);"></li>
                  <li class="product__preview-item" style="background-image: url(<%=  @product.third_thumbnail_url %>);"></li>
              </ul>
              <div class="product__photo-wrapper" style="background-image: url(<%=  @product.main_image_url %>);"></div>
          </div>
          <div class="product__info">
              <div class="product__title"><%= @product.name %></div>
              <div class="product__price">€ <%= @product.price %></div>
              <dl class="product__param-list"><dt class="product__param-title">Color</dt>
                  <dd class="product__param-value">
                      <input class="product__input" type="radio" name="color" value="blue" checked="checked">
                      <label class="product__label product__label_color product__label_blue"></label>
                      <input class="product__input" type="radio" name="color" value="red">
                      <label class="product__label product__label_color product__label_red"></label>
                  </dd><dt class="product__param-title">Size</dt>
                  <dd class="product__param-value">
                      <input class="product__input" type="radio" name="size" value="s">
                      <label class="product__label product__label">S</label>
                      <input class="product__input" type="radio" name="size" value="m">
                      <label class="product__label product__label">M</label>
                      <input class="product__input" type="radio" name="size" value="l">
                      <label class="product__label product__label">L</label>
                      <input class="product__input" type="radio" name="size" value="xl">
                      <label class="product__label product__label">XL</label>
                  </dd>
              </dl>
              <p class="form__group product__quantity">
                  <select class="form__select" name="quantity">
                      <option value="1" selected="selected">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                  </select>
              </p>
              <div class="button button_blue">
                <div class="button__icon">
                    <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
                        <title>Group 2</title>
                        <g stroke="currentColor" fill="none" fill-rule="evenodd">
                            <path d="M1 5h15.994L13.94 15.747H4.054zM12.632 4.816C12.632 2.708 10.922 1 8.816 1 6.708 1 5 2.708 5 4.816" />
                        </g>
                    </svg>
                </div><div class="button__text">Add to Shopping Cart</div>
              </div>
              <div class="product__desc-title">Description</div>
              <p class="product__desc"><%= @product.description %></p>
              <div class="product__social"><a class="product__social-link" href="https://www.facebook.com/XXX" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a><a class="product__social-link" href="https://twitter.com/XXX" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> </a><a class="product__social-link" href="https://plus.google.com/XXX" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> </a><a class="product__social-link" href="https://pinterest.com/XXX" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i> </a><a class="product__social-link" href="https://www.instagram.com/XXX" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
          </div>
      </div>
  </div>
  <!-- Product finish -->

  <!-- Test form for payment integration -->
  <%= simple_form_for @product.order_items.new, url: product_order_items_path(@product), html: {class: "form "} do |f| %>
    <%= f.collection_radio_buttons :color, [['red', 'Red'] ,['blue', 'Blue']], :first, :last, label: 'select a color please'%>
    <br>
    <%= f.collection_radio_buttons :size, [['small', 'S'] ,['medium', 'M'], ['large', 'L'], ['x-large', 'XL']], :first, :last%>
    <br>
    <%= f.input :quantity, label: 'Select an amount' do %>
      <%= f.select :quantity, (1..5).each{ |quant| [quant] }%>
    <% end %><br>
    <%= f.button :submit %>
  <% end %>
  <!-- Test form finish -->

  <!-- Recommended products start -->
  <hr>
  <h2>Customers also bought</h2>
  <div class="catalog">
      <div class="catalog__wrapper">
          <ul class="catalog__list">
              <li class="catalog__item">
                  <div class="catalog__to-cart">
                      <svg width="18" height="17" viewBox="0 0 18 17" xmlns="http://www.w3.org/2000/svg">
                          <title>Group 2</title>
                          <g stroke="currentColor" fill="none" fill-rule="evenodd">
                              <path d="M1 5h15.994L13.94 15.747H4.054zM12.632 4.816C12.632 2.708 10.922 1 8.816 1 6.708 1 5 2.708 5 4.816" />
                          </g>
                      </svg>
                  </div>
                  <a class="catalog__link" href="javascript:;"><img class="catalog__photo" src="static/uploads/catalog_1.jpg?v=1466944291438"> <span class="catalog__name">Maxi Dress - True Black</span> <span class="catalog__price">$49.95</span></a>
              </li>
          </ul>
      </div>
  </div>
  <!-- Recommended products finish -->
</div>
